.navbar-text {color:white;}

.nav>span {
    display: inline-block;
    white-space: nowrap;}

.navbar { margin-bottom: 20px;}

.navbar{
    background-color: black;}
/*
.navbar.span{
    color: white;}

.navbar.li{
    color: white;}

    
 */