.navbar-text {color:white;}

.topbar>span {
    display: inline-block;
    white-space: nowrap;}

.topbar { margin-bottom: 20px;}

.topbar{
    background-color: black;}

.topbar {
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}
/*
.navbar.span{
    color: white;}

.navbar.li{
    color: white;}


 */