<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Graph</title>
        {% include "general/header_general.html" %}
    </head>

    <body>
    <div class="container-fullwidth">
        {% include "../topbar/topbar.html" %}
    </div>
    {{ uloc.l_ville }} - {{ uloc.l_cp }}
    <tbody id="myTable">
    {% for item in all_conso %}
        <tr>
            <td>{{ item.c_date }}</td>
            <td>{{ item.c_cons }}</td>
        </tr>
    {% endfor %}
    </tbody>

    <div class='col-sm-5'>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ listDate }},
            datasets: [{
                label: 'Votre consommation',
                backgroundColor: 'rgba(22, 180, 38, 0.3)',
                borderColor: 'rgb(34, 116, 14)',
                data: {{ listConso }},
                pointRadius: 6
            }]
        },
        options: {}
    });
    </script>


    </body>
</html>
