{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>D4G</title>
        {% include "general/header_general.html" %}
    </head>

    <body>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Annee 1', 'Annee 2', 'Annee 3', 'Annee 4', 'Annee 5', 'Annee 6'],
            datasets: [{
                xAxisID: 'Annee',
                yAxisID: 'Consommation',
                label: 'Consommation de X au cour de l annee',
                pointRadius: 5,
                borderDash: [12, 19, 3, 5, 2, 3],
                pointBorderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>


    </body>
</html>
