<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Connexion</title>
    {% include "general/header_general.html" %}
    <!--Made with love by Mutiullah Samim -->

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/default.css' %}">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Connexion</h3>
            </div>
            <div class="card-body">
                <form>
                    {% csrf_token %}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nom d'utilisateur">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Valider" class="btn float-right login_btn">
                    </div>
                </form>
                <form action="/admin" method="post">
                    <div class="form-group">
                        <input type="submit" value="Administration" class="btn login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <a class="links" href="{% url 'homePage:pass_forget' %}">Mot de passe oublié?</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>