<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Mot de passe oublié</title>
    {% include "general/header_general.html" %}
    <!--Made with love by Mutiullah Samim -->

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/connection.css' %}">
	<script src="{% static "script/recovery/recovery.js" %}"></script>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Mot de passe oublié ?</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="mail" type="email" class="form-control" placeholder="@">
                    </div>
                    <div class="form-group">
                        <button id="btn_envoyer" type="" class="btn float-right" disabled><a href="{% url 'homePage:pass_forget_request' %}">Envoyer</a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>