<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>A propos de nous</title>
        {% include "general/header_general.html" %}
        <link rel="stylesheet" type="text/css" href="{% static "css/home_page_style.css" %}"><link>
        <script src="{% static "script/home_page_sc.js" %}"></script>
    </head>

    <body>
        <div class="container-fullwidth">
            {% include "../topbar/topbar.html" %}
        </div>
        <div class="container">
            <div class="row ud-hello">
                    <div class="col-sm">
                        <h3 class="text-center">A propos de nous !</h3>
                    </div>
            </div>

            <div class="row">
                <div class="col-sm ud-cp">
                    <br>
                    <p>Nous sommes une petite équipe récemment créée, à la base d'un groupe d'amis dévoué à la protection de la terre et à la préservation de mère nature.
					<br>
					Nos objectifs sont de luter contre le gaspillage, le réchauffement climatique et la polution !
					Nous désirons partager nos connaissances et faire réaliser qu'un simple geste peut grandement prolonger notre terre et ses créatures.
					<br><br>
					Nous avons la firme intension de continuer dans cette voie et grandir pas à pas juqu'à devenir un pilier dans le domain Green
					<br>
					<br>
					<h3><b><i>Design4Green 2019 - Team 11</i></b></h3>
					</p>
					<br>
					<img src="{% static "images/logo_old.jpg" %}" alt="logo"/>
                </div>
            </div>
        </div>
    </body>

</html>
