<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Your profile: {{ user.u_id }}</title>
        {% include "general/header_general.html" %}
        <link rel="stylesheet" type="text/css" href="{% static "css/home_page_style.css" %}"><link>
        <script src="{% static "script/home_page_sc.js" %}"></script>
    </head>

    <body>
        <div class="container-fullwidth">
            {% include "../topbar/topbar.html" %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
            </div>
        </div>
    </body>

</html>
