<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Votre profile: {{ user.u_id }}</title>
        {% include "general/header_general.html" %}
        <link rel="stylesheet" type="text/css" href="{% static "css/home_page_style.css" %}"><link>
        <link rel="stylesheet" type="text/css" href="{% static "css/user_detail_style.css" %}"><link>
        <link rel="stylesheet" type="text/css" href="{% static '/css/default.css' %}">
        <script src="{% static "script/home_page_sc.js" %}"></script>
    </head>

    <body>
        <div class="container-fullwidth">
            {% include "../topbar/topbar.html" %}
        </div>
        <div class="container">
            <div class="row ud-hello">
                    <div class="col-sm">
                        <h3 class="text-center">Details sur votre compte</h3>
                    </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm ud-cp">
                    <h4 class="text-center">Votre compte:</h4>
                    <table class="table table-hover">
                        <tr>
                            <td>Votre compte:</td>
                            <td>{{ user.u_id }}</td>
                        </tr>
                        <tr>
                            <td>Votre nom: </td>
                            <td>{{ h_name.h_nom }}</td>
                        </tr>
                        <tr>
                            <td>Votre prenom:</td>
                            <td>{{ h_name.h_prenom }}</td>
                        </tr>
                    </table>

                </div>

                <hr class="hrvertical">

                <div class="col-sm ud-hb">
                    <h4 class="text-center">Votre bien:</h4>
                    <p>
                    <table class="table table-hover">
                        <tr>
                            <td>Ville:</td>
                            <td>{{ uloc.l_ville }} - {{ uloc.l_cp }}</td>
                        </tr>
                        <tr>
                            <td>Nombre de pièces:</td>
                            <td>{{ uloc.l_nb_pieces }}</td>
                        </tr>
                        <tr>
                            <td>Année de construction:</td>
                            <td>{{ uloc.l_annee }}</td>
                        </tr>
                    <tr>
                        <td>Type de chauffage</td>
                        <td>{{ uloc.l_chauff }}</td>
                    </tr>
                    </table>
                </div>

                <hr class="hrvertical">

                <div class="col-sm ud-dc">
                    <h4 class="text-center">Vos derniers consommations:</h4>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Consommation</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                            {% for item in all_conso %}
                            <tr>
                                <td>{{ item.c_date }}</td>
                                <td>{{ item.c_cons }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" class="btn login_btn"><a href="{% url 'homePage:conso' user.id %}">Voir plus </a></button>
                </div>
            </div>
        </div>
    </body>
</html>
